ul.roles li.addRole {
  list-style-type: none;
  display: inline-block;
  padding: .3rem;
  margin: 1rem 0.3rem ;
  margin-left: -1rem;
  background: rgba(68, 102, 68, 0.1);
  border: rgba(68, 102, 68, 0.3);
  color: #464;
  cursor: pointer;
}
ul.roles .deleteRole {
  color: #644;
  cursor: pointer;
  border-radius: .3rem;
  padding: .1rem .2rem;
  transition: background .2s, color .2s;
}
ul.roles .deleteRole:hover {
  background: #ff958d;
  color: #000;
}
ul.performers {
  ist-style-type: none;
  display: inline;
  margin-left: 0;
  padding-left: 0;
}
ul.performers li {
  display: inline-block;
  padding: .1em .3rem;
  margin: 0 .3rem;
  border: rgba(85, 102, 119, 0.06) 1px solid;
  border-radius: .3rem;
  transition: background .2s;
}
ul.performers li:hover {
  background: rgba(85, 102, 119, 0.1);
}
ul.performers li.add {
  background: rgba(68, 102, 68, 0.1);
  border: rgba(68, 102, 68, 0.3);
  color: #464;
  cursor: pointer;
}
ul.performers span.remove {
  color: #644;
  cursor: pointer;
  border-radius: .3rem;
  padding: .1rem .2rem;
  transition: background .2s, color .2s;
}
ul.performers span.remove:hover {
  background: #ff958d;
  color: #000;
}
ul.performers span.ok {
  color: #464;
  cursor: pointer;
  border-radius: .3rem;
  padding: .1rem .2rem;
  transition: background .2s, color .2s;
}
ul.performers span.ok:hover {
  background: #95ff8d;
  color: #000;
}
#kollektive_list {
  max-height: 80vh;
  overflow: auto;
}
#kollektive_list li {
  cursor: pointer;
}
#kollektive_list li.selected {
  background: var(--back-color-bright);
}
#QR_persons_list {
  font-family: arial, verdana, sans-serif;
}
#QR_persons_list .page {
  padding: 0;
  overflow: auto;
}
#QR_persons_list .page_wrapper {
  padding: 0;
  overflow: auto;
}
#QR_persons_list h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  color: silver;
}
#QR_persons_list .container {
  float: none;
  overflow: visible;
  page-break-after: always;
}
#QR_persons_list .item {
  display: block;
  float: left;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  page-break-after: always;
  break-inside: avoid;
  page-break-inside: avoid;
  background: #ffffff99;
}
#QR_persons_list .content {
  width: 8cm;
  overflow: auto;
}
#QR_persons_list .side {
  float: left;
  width: 35%;
  padding-right: .5rem;
}
#QR_persons_list .qr_place {
  float: right;
  width: 60%;
}
#QR_persons_list img {
  width: 100%;
}
#QR_persons_list .dk_code {
  font-size: 90%;
  overflow-wrap: anywhere;
}
#QR_persons_list .name {
  font-weight: bold;
  min-height: 3em;
  overflow-wrap: anywhere;
}
@media print {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  #QR_persons_list {
    background: white;
  }
  #QR_persons_list .page {
    padding: 1cm 0 0 1cm;
    width: 25cm;
    height: 16cm;
    break-inside: avoid;
    page-break-inside: avoid;
    overflow: visible;
  }
  #QR_persons_list .item {
    transform: scale(1, 1);
    margin: 1cm;
    /*&:nth-child(odd) {
				padding-right: 3rem;
			}
			&:nth-child(4n+1){
				padding-bottom: 3rem;
			}
			&:nth-child(4n+2) {
				padding-bottom: 3rem;
			}*/
  }
}
/*
ul.roles li.addRole {
  list-style-type: none;
  display: inline-block;
  padding: .3rem;
  margin: 1rem 0.3rem ;
  margin-left: -1rem;
  background: rgba(68, 102, 68, 0.1);
  border: rgba(68, 102, 68, 0.3);
  color: #464;
  cursor: pointer;
}
ul.roles .deleteRole {
  color: #644;
  cursor: pointer;
  border-radius: .3rem;
  padding: .1rem .2rem;
  transition: background .2s, color .2s;
}
ul.roles .deleteRole:hover {
  background: #ff958d;
  color: #000;
}
ul.performers {
  list-style-type: none;
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}
ul.performers li {
  display: inline-block;
  padding: .1em .3rem;
  margin: 0 .3rem;
  background: rgba(85, 85, 221, 0.1);
  border: rgba(85, 85, 221, 0.3);
  border-radius: .3rem;
}
ul.performers li.add {
  background: rgba(68, 102, 68, 0.1);
  border: rgba(68, 102, 68, 0.3);
  color: #464;
  cursor: pointer;
}
ul.performers span.remove {
  color: #644;
  cursor: pointer;
  border-radius: .3rem;
  padding: .1rem .2rem;
  transition: background .2s, color .2s;
}
ul.performers span.remove:hover {
  background: #ff958d;
  color: #000;
}
*/
