<!doctype html>
<html>
<head>
  <title>test</title>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <meta name='description' content='Краткое описание страницы'>
  <meta name='Keywords' content='ключевые слова, через запятую'>
  <link rel='stylesheet' type='text/css' href='roles_style.css'>
  <script src='https://unpkg.com/vue'></script>
  <script type='text/javascript' src='https://tteatr.ru/scrs/jquery-m.js'></script>
  <script type='text/javascript' src='roles_script.js'></script>

  <!-- IE must understand HTML5: -->
  <!--[if IE]>
   <script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js'></script>
  <![endif]-->
  <style>
   article, aside, details, figcaption, figure, footer,header,
   hgroup, menu, nav, section, div { display: block; }
  </style>
</head>

<body>
<div id='roles_comp'>
	<select
		v-model='sSelectedPlay'				
		>
		<option disabled>[Выберите спектакль]</option>
		<option
			v-for='oPlay in aPlays'
			v-bind:value='oPlay.id'												
		>
		{{oPlay.name}}
		</option>
	</select>
	<button @click='loadData'>Обновить</button>
	<span v-show='bUpdating'>Обновление...</span>
	<ul class='roles'>
		<li
			v-for='Item in aRolesFull'
			:key='Item.id'
			draggable='true'
			v-on:dragstart='roleDragStart($event, Item,  Item.id)' 
			v-on:dragend='roleDragEnd($event, Item)' 
			v-on:dragenter='roleDragEnter($event, Item,  Item.id)'
			>
			<span 
				class='deleteRole'
				@dblclick='removeRole(Item.id)'
				>
				&#10005
			</span>
			<span @dblclick='editRole(Item.id)' v-if='!Item.editVisible'>{{Item.role}}</span>
			<span v-if='Item.editVisible' v-on:keyup.13='cancelRole(Item.id)'>
				<input v-model='Item.role' v-on:keyup.13='cancelRole(Item.id)'>
				<input v-model='Item.role_sing' v-on:keyup.13='cancelRole(Item.id)'>
				<span
					@click='applyRole(Item.id, Item.role, Item.role_sing)'
					>
					&#10003 
				</span>
			</span> - 						
			<ul class='performers'>
				<li
					v-for='Pers in Item.persons'
					:key='Pers.id'
					draggable='true'
					v-on:dragstart='persDragStart($event, Pers,  Item.id)' 
					v-on:dragend='persDragEnd($event, Item)' 
					v-on:dragenter='persDragEnter($event, Pers,  Item.id)'
					>
					{{Pers.name}} 
					<span class='remove'
						@dblclick='removePerson(Pers.id, Item.id)'
						>
						&#10005
					</span>
				</li>
				<li
					v-if='Item.newVisible'
					>
					<select
						@change='selectNewPerson($event, Item.id)'									
						>
						<option
							v-for='oPers in aPersons'
							v-bind:value='oPers.id'																			
						>
						{{oPers.name}}
						</option>
					</select>
				</li>
				<li class='add'
					@click='addPerson(Item.id)'
					>
					+
				</li>
			</ul>					
		</li>
		
		<li class='addRole' v-if='sSelectedPlay'>
			<span v-if='bRoleAddition'>
				<input v-model='sNewRole' placeholder='Роль'> 
				<input v-model='sNewRoleSing' placeholder='Роль в единственном числе'> 
				<span
					@click='addRole'
					>
						&#10003 
					</span>
			</span>
			<span  
				v-if='!bRoleAddition' 
				@click='showAddRole'>
				Добавить роль
			</span>
		</li>
	</ul>
<pre>
{{aRolesFull}}
{{sSelectedPlay}}
{{aRoles}}
</pre>
</div>
</body>
</html>